<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>ToDo List</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">ToDo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">List</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/search}" method="get" class="form-inline mb-2">
                <input type="text" class="form-control mr-sm-2" name="description" placeholder="Search by description"
                       th:value="${description}">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>

        </div>
        <div class="col-12">
            <a class="btn btn-primary mb-2" th:href="@{/todo/create}">Add Todo</a>
        </div>
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">User</th>
                    <th scope="col">Target Date</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${todos.empty}">
                    <td colspan="5" class="text-center">No data found</td>
                </tr>
                <tr th:each="todo : ${todos}">
                    <td th:text="${todo.id}"></td>
                    <td th:text="${todo.description}"></td>
                    <td th:text="${todo.user.username}"></td>
                    <td th:text="${todo.targetDate}"></td>
                    <td>
                        <a class="btn btn-success" th:href="@{/todo/{id}(id=${todo.id})}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" th:href="@{/todo/delete/{id}(id=${todo.id})}"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <nav>
                <ul class="pagination">
                    <!-- Previous -->
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/?(page=${currentPage - 2}, size=${pageSize}, keyword=${keyword})}">Previous</a>
                    </li>

                    <!-- Page numbers -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/?(page=${i - 1}, size=${pageSize}, keyword=${keyword})}" th:text="${i}"></a>
                    </li>

                    <!-- Next -->
                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/?(page=${currentPage}, size=${pageSize}, keyword=${keyword})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4xF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
